body{
    width: 640px;
    margin: 0 auto;
    background-color: white;
    overflow: auto;
  }
  html {
    position: relative;
    margin:0;
    background: white;
  }
  .main_wrap_header {
    padding-top: 15px;
  }
  .main_wrap_header a{
    padding: 15px;
    font-size: 24px;
    color: black;
  }
  .main_wrap_list {
    margin: 0 auto;
    padding: 15px;
  }
  .main_wrap_list span {
    margin: 0 auto;
  }
  .input_place {
    padding-top: 5.5px;
    width: 280px;
    float: right;
    border: none;
    font-family: 'Noto Sans KR', sans-serif;
  }
  .input_place::placeholder {
    color: grey;
    font-size: 13px;
  }
  .content {
    padding-top: 6.5px;
  }
  .search_icon {
    padding-top: 10px;
    float: right;
    width: auto;
    height: auto;
  }
  /* span font setting*/
  .event {
    padding-top: 7px;
    font-size: 16px;
    color: rgb(238,119,42);
    font-weight: bold;
  }
  .event_data {
    font-size: 16px;
    color: rgba(0,0,0,0.87);
    font-family: 'Noto Sans KR', sans-serif;
  }
  .wrapper {
    display: grid;
    grid-template-columns: 106px 106px 106px 106px 106px 106px;
    grid-template-rows: 50px;
    text-align: center;
  }
  .wrapper p {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    font-weight: bold;
  }
  .footer {
    display: grid;
    position: fixed;
    bottom: 0;
    width: 640px;
    margin: 0 auto;
    grid-template-columns: repeat(5,1fr);
    text-align: center;
      font-family: 'Noto Sans KR', sans-serif;
  }
  #btn-primary {
    position: relative;
    float: right;
    font-size: 15px;
    font-family: 'Noto Sans KR', sans-serif;
  }
  @media (max-width:768px) {
    .wrapper {
      margin: 0 auto;
      text-align: center;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 100px 100px;
    }
  }
  